<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email'" [type]="'email'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['name'])" [label]="'Name'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['lastname'])" [label]="'Lastname'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['address'])" [label]="'Address'"></app-text-input>

  <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date of Birth'" [maxDate]="maxDate"></app-date-picker>

  <div class="mb-3 d-flex justify-content-between text-center">
    <label>Who are you?</label>
    <div class="form-check">
      <input type="radio"
        class="form-check-input"
        formControlName="role"
        value="User"
        id="roleUser">
      <label class="form-check-label" for="roleUser">User</label>
    </div>
    <div class="form-check">
      <input type="radio"
        class="form-check-input"
        formControlName="role"
        value="Driver"
        id="roleDriver">
      <label class="form-check-label" for="roleDriver">Driver</label>
    </div>
  </div>

  <div class="mb-3">
    <label for="photo">Profile Photo:</label>
    <input type="file" id="photo" (change)="onFileChange($event)" class="form-control mt-2" accept="image/*">
  </div>

  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
            {{error}}
        </li>
    </ul>
  </div>

  <div class="text-center">
    <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<div class="mt-4 d-flex justify-content-center">
  <div id="google-button"></div>
</div>
