<nav class="navbar navbar-expand-md navbar-dark fixed-top custom-bg">
  <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="/assets/logo1.png" alt=""></a>
    <button class="navbar-toggler me-4" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': isCollapsed, 'navbar-collapse': true}" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="(accountService.currentUser$ | async) as user">
          <li *appHasRole="['User', 'Driver', 'Admin']" class="nav-item">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
          </li>
          <li *appHasRole="['User']" class="nav-item">
            <a class="nav-link" routerLink="/ride" routerLinkActive="active">Get a ride</a>
          </li>
          <li *appHasRole="['Driver', 'User']" class="nav-item">
            <a class="nav-link" routerLink="/ride-history" routerLinkActive="active">Ride history</a>
          </li>
          <li *appHasRole="['Admin']" class="nav-item">
            <a class="nav-link" routerLink="/drivers" routerLinkActive="active">Drivers</a>
          </li>
          <li *appHasRole="['Admin']" class="nav-item">
            <a class="nav-link" routerLink="/rides" routerLinkActive="active">Rides</a>
          </li>
          <li *appHasRole="['Driver']" class="nav-item">
            <a class="nav-link" routerLink="/new-rides" routerLinkActive="active">New rides</a>
          </li>
          <li *appHasRole="['Driver', 'User']" class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>          
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome <strong>{{user.username}}</strong></a>
        <div class="dropdown-menu" *dropdownMenu>
          <a *appHasRole="['User', 'Driver', 'Admin']" routerLink="profile/edit" class="dropdown-item">Edit profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex ms-auto" (ngSubmit)="login(loginForm)" autocomplete="off">
          <input
              name="email"
              [(ngModel)]="model.email" 
              class="form-control me-2" 
              type="text" 
              placeholder="Email"
              autocomplete="off"
              required>
          <input
              name="password"
              [(ngModel)]="model.password"  
              class="form-control me-2" 
              type="password" 
              placeholder="Password"
              autocomplete="off"
              required>
        <button class="btn btn-primary w-50" type="submit" [disabled]="!model.email || !model.password">Login</button>
      </form>
    </div>
  </div>
</nav>