<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div *ngIf="rides.length > 0">
        <div *ngFor="let ride of rides">
          <button type="button" class="btn btn-primary d-block mb-3 w-100" (click)="toggleCollapse(ride.id)">
            <span class="mr-2">Ride #{{ ride.id }}</span>
            <i class="fa fa-taxi ms-3" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="w-100 mx-auto text-center" *ngIf="rides.length == 0">
        <p>There are currently no completed rides.</p>
      </div>
    </div>

    <div class="col-lg-9">
      <div *ngIf="activeRide === null && rides.length != 0">
        <div class="w-100 mx-auto text-center fs-2">
          <p>Select a ride to view details.</p>
        </div>
      </div>
      <div *ngFor="let ride of rides">
        <div [id]="'collapse'+ride.id" 
        [collapse]="!isCollapsed[ride.id] && ride.id !== activeRide"
        [isAnimated]="true">
          <div class="card w-75 mx-auto mb-3 text-center">
            <div class="card-body">
              <h3 class="text-center mb-4 fs-3">Ride Information</h3>
              <h5 class="card-title">Start Address:</h5>
              <p>{{ ride.startAddress }}</p>
              <h5 class="card-title">Final Address:</h5>
              <p>{{ ride.finalAddress }}</p>
              <h5 class="card-title">Price:</h5>
              <p>{{ ride.price }} <i class="fa fa-euro"></i></p>
              <h5 class="card-title">Distance:</h5>
              <p>{{ ride.distance }}</p>
              <h5 class="card-title">Ride Duration:</h5>
              <p>{{ ride.rideDuration }}</p>
              <h5 class="card-title">Status:</h5>
              <p>{{ ride.status }}</p>
              <h5 class="card-title">Travel Mate:</h5>
              <p>{{ ride?.username }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
